@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.login-form {
  border: 2px solid white;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  color: white;
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.login-form .form-control {
  margin-bottom: 15px;
}

.login-form .btn {
  font-size: 16px;
  font-weight: bold;
}
